/* Footer Styles */
.app-footer {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding at top and bottom */
}

/* Center align text */
.app-footer .container {
  text-align: center;
}
