<ng-container *ngIf="pet !== undefined; else not_found">
  <p>
    <span class="pet_label">Pet:</span>
    <span class="pet_name">{{ pet.name }}</span>
  </p>
  <p>
    <img [src]="pet.image" [alt]="pet.name" class="pet_image">

  </p>
  <div class="text_box">
    <p><strong>Kind:</strong> {{ pet.petKind }}</p>
    <p><strong>Age:</strong> {{ pet.age }}</p>

  </div>
</ng-container>

<ng-template #not_found>
  <p class="message">
    The data is not found.
  </p>
</ng-template>

<p>
  <a routerLink="/">Pet Catalog</a>
</p>
